@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFCFF;
  --foreground: #32322C;
  --khaki: #C3B299;
  --blue: #247BA0;
  --red: #BF211E;

}

body {
  color: var(--foreground);
  background: var(--background);
}
